#search-container {
    margin-top: 5px;
}

#search-form label {
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
}

.tweet-item {
    background-color: #EEEEEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 3px 3px 4px #DDD;
    -moz-box-shadow: 3px 3px 4px #DDD;
    -webkit-box-shadow: 3px 3px 4px #DDD;
    padding: 4px 10px 4px 10px;
    margin-bottom: 8px;
}

.tweet-image {
    float: left;
    box-shadow: 3px 3px 4px #AAA;
    -moz-box-shadow: 3px 3px 4px #AAA;
    -webkit-box-shadow: 3px 3px 4px #AAA;
}

.tweet-details {
    margin-left: 55px;
}

.from_user, .iso_language_code, .facet-value, .filter-remove {
    font-weight: bold;
    cursor: pointer;
}

.filter {
    background-color: #BBB;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 3px 3px 4px #DDD;
    -moz-box-shadow: 3px 3px 4px #DDD;
    -webkit-box-shadow: 3px 3px 4px #DDD;
    padding: 2px 10px 2px 10px;
    margin-bottom: 8px;
}

.filter .filter-remove {
    float: right;
}

#language-pie {
    width: 500px;
    height: 400px;
}
