{% load chunks %}
{% load verbatim %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
        <title>MetaLayer | Twitter Demo</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/jquery.linkify.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/moment.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>
        <!--[if lt IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
        <script id="filter-tpl" type="text/x-jquery-tmpl">
            <div class="filter">
                <span class="filter-type">${ filter.type }</span>:
                <span class="filter-value">${ filter.value }</span>
                <span class="filter-remove">X</span>
            </div>
        </script>
        {% verbatim %}
        <script id="tweet-item-tpl" type="text/x-jquery-tmpl">
            <div class="tweet-item clearfix">
                <div class="tweet-image">
                    <img src="${ tweet.profile_image_url }" height="48" width="48"/>
                </div>
                <div class="tweet-details">
                    <span class="from_user filterable">${ tweet.from_user }</span>:
                    <span class="text">{{ html tweet.text }}</span>
                    <br />
                    [<span class="iso_language_code filterable">${ App.get_language(tweet.iso_language_code) }</span>]
                    <span class="created_at"><a href="${ tweet.source_url }" target="_blank">${ tweet.created_at }</a></span>
                </div>
            </div>
        </script>
        {% endverbatim %}
        {% verbatim %}
        <script id="facet-tpl" type="text/x-jquery-tpl">
            <div class="facet">
                <h3>${ App.facet_mapping[name] }</h3>
                {{ each(value, count) facet_items }}
                <div class="facet-item">
                    <span class="${ name } facet-value filterable">
                        {{ if name == "iso_language_code" }}
                            ${ App.get_language(value) }
                        {{ else }}
                            ${ value }
                        {{ /if }}
                    </span>
                    <span class="facet-count">[${ count}]</span>
                </div>
                {{ /each }}
            </div>
        </script>
        {% endverbatim %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="left-sidebar" class="span2">
                    <div id="filter-list">
                        <h2>Active Filters:</h2>
                    </div>
                    <div id="facet-list"></div>
                </div>
                <div id="tweet-container" class="span5">
                    <div id="search-container">
                        <form id="search-form" name="search-form">
                            <label for="query">Search:</label>
                            <input type="text" name="query" id="search-query">
                        </form>
                    </div>
                    <h2></h2>
                    <div id="tweet-list"></div>
                </div>
                <div id="visuals-container" class="span5">
                    <h2>Visuals, Y'all!</h2>
                    <h3>Language</h3>
                    <div id="language-pie"></div>
                </div>
            </div>
        </div>
    </body>
</html>
